@import "tailwindcss";
/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE, Edge Legacy */
* {
  -ms-overflow-style: none;
}
