@import "tailwindcss";
/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE, Edge Legacy */
* {
  -ms-overflow-style: none;
}
html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}
